<% content_for :page_title, "Index" %>

<section class="section">
  <div class="container">
    <% @articles.each do |article| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= article.author %></p>
              <p class="title is-4"><%=link_to article.title, article %></p>
            </div>
          </div>
          <div class="content">
            <%= article.body  %>
            <%= truncate(article.body, length: 150, separator: ' ') %>
          </div>
          <div class="comment-count">
            <span class="tag is-rounded"></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

