<p>
  <strong>Title</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Author</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Article</strong>
  <%= @article.body %>
</p>

<%= link_to 'Back', articles_path %>